.table-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-spacing: 0px 5px;
  border-radius: 5px;
  border: solid, 2px, white;
  border-collapse: separate;
}

tr {
  height: 20%;
  background-color: #141414;
}
.cols {
  background: transparent;
}
.odd {
  background-color: #0a0a0a;
}
th, td {
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 4.5vh;
  padding: 0px 20px;
}
img {
  height: 5vh;
  width: auto;
}
.clock,
.last-updated {
  height: 8vh;
  font-size: 6vh;
  text-align: center;
}
.clock{
}

th.departure-time {
  width: 15%;
}
th.departure-direction {
}
th.departure-name {
  width: 15%;
}
th.departure-icon{
  width: 10%;
}
td.departure-icon img {
  height: 4vh;
  width: auto;
}
.departure-name {
}
.departure-time {
  color: orange;
}
.departure-time-left {
  text-align: end;
  color: orange;
}

.departure-direction {
  color: white;
}
.red-text {
  color: red;
}
