td,
th {
  padding: 0px 10px;
  text-align: left;
}

td {
  text-align: left;
}
tr {
  background-color: #141414;
  border-radius: 100px;
}
.cols {
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}
table {
  border-spacing: 0px 5px;
  border-radius: 5px;
  border: solid, 2px, white;
  border-collapse: separate;
  gap: 0;
  padding: 0px 20px 20px 20px;
}
.odd {
  background-color: #0a0a0a;
}
th.departure-time {
}
th.departure-direction {
}
th.departure-name {
}
th.departure-icon{
}
td.departure-icon {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.departure-name {
}
.departure-time {
  color: orange;
}
.departure-time-left {
  text-align: end;
  color: orange;
}
td {
  font-size: 45px;
  align-items: center;
}
.departure-direction {
  color: white;
}
.red-text {
  color: red;
  font-weight: bold;
}
.clock,
.last-updated {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-inline: auto;
  width: fit-content;
  font-size: 40px;
  text-align: center;
}
.last-updated {
  top: 0px;
  left: 20%;
  font-size: 20px;
}
