.table-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-spacing: 0px 5px;
  border-radius: 5px;
  border: solid, 2px, white;
  border-collapse: separate;
}

tr {
  height: 20%;
  background-color: #141414;
}
.cols {
  background: transparent;
}
.odd {
  background-color: #0a0a0a;
}
th,
td {
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 4.5vh;
  padding: 0px 20px;
}
img {
  height: 5vh;
  width: auto;
}
.clock,
.last-updated {
  height: 7vh;
  font-size: 5vh;
  text-align: center;
}
.clock {
}

th.departure-time {
  width: 15%;
}
th.departure-direction {
}
th.departure-name {
  width: 15%;
}
th.departure-icon {
  width: 10%;
}
td.departure-icon img {
  height: 6vh;
  display: flex;
}
td.departure-name {
}
td.departure-name span {
  border-radius: 15px;
  padding: 0px 1.5vh;
  font-weight: bold;
}
.Tåg {
  background-color: #ec619f;
}
.Tunnelbana {
  background-color: #008dd0;
}
.Buss {
  background-color: black;
}
.departure-time {
  color: orange;
}
.departure-time-left {
  text-align: end;
  color: orange;
}

.departure-direction {
  color: white;
}
.red-text {
  color: red;
  font-weight: bold;
}
