.departures {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 1vh;
  padding: 0;
}
.buses, .trains {
  height: 45vh;
}
h3 {
  position: absolute;
  color: rgba(255, 255, 255, 0.2);
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
.header {
  height: 7vh;
  display: flex;
  justify-content: space-between;
}
.jahopp {
  text-align: center;
}
.ugla, .last-updated {
  color: #2f2f2f;
  font-weight: bold;
  margin: 0;
}