.departures {
  display: flex;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}
h3 {
  position: absolute;
  color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}
.departureContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.busses {
  padding-right: 10px;
}
.trains {
  padding-left: 10px;
}
.jahopp {
  text-align: center;
}
.col {
  flex: 1;
}
